.slice {
    padding: 30px 40px 45px 30px;
}

.testimonialCard {
    padding: 30px 20px 20px 50px;
    position: relative;
    background: var(--surface-light-5);
    border: 2px solid var(--surface-light-3);
    border-radius: 8px;
}

.testimonialCard img {
    border-radius: 50%;
    position: absolute;
    object-fit: cover;
    top: -30px;
    left: -30px;
}

.testimonialText i {
    font-size: 0.87em;
    display: block;
    margin-bottom: 0px;
    line-height: 1.75em;
}

.testimonialText strong {
    font-size: .9em;
}

.testimonialText .testimonialProfession {
    font-size: .77rem;
    color: var(--font-color-dark);
}

.testimonialIcon {
    position: absolute;
    bottom: 46px;
    left: 10px;
    rotate: 180deg;
    color: var(--font-color-dark-4);
    font-size: 40px;
}

.testimonialIconBig {
    position: absolute;
    font-size: 80px;
    color: var(--font-color-dark-5);
    right: -43px;
    bottom: -72px;
    z-index: -9;
}

.testimonialIcon *,
.testimonialIconBig * {
    color: inherit;
}

.mb1 {
    margin-bottom: 30px;
}

.buttonOpen {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    width: fit-content;
    margin-bottom: 25px;
    font-size: .85rem;
    color: var(--font-color-light-2);
}

.buttonOpen:hover {
    text-decoration: underline;
}

.buttonOpen * {
    font-size: inherit;
    color: inherit;
}
